.navbar{
    position: fixed;
    width: 100%;
    z-index: 10;
}

.logo{
    height: 50px;
    width: 50px;
    margin: 25px;
}

.menu{
    padding: 10px;
    float: right;
    height: 30px;
    width: 30px;
    margin: 25px;
}
