@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.post {
    position: relative;
    background : url('../../images/image.jpeg') no-repeat center;
    background-size: cover;
    background-position:right center;
    min-height: 100vh;
    min-width: 100vh;
}
